body {
  background-color: #3d424d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.title, .spinner{
  width: fit-content;
  margin: 10px auto;
}

.cards-container{
    text-align: center;
    background-color: #3d424d;
    min-height: 100vh;
    color: white;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

h1 {
  font-size: calc(13px + 2vmin);
}