body {
  text-align: center;
  background-color: #3d424d;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}

.card {
  margin:10px;
  background-color: #2d3038;
  padding: 10px;
  min-width: 600px;
  position: relative;
  line-height: calc(20px + 2vmin);
}

.card span{
  font-size: 17px;
  width: 6%;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
}

.team, .score{
  display: inline-block;
  position: relative;
}

.card .away{
  width: 46%;
  right: 0;
  text-align: left;
}

.card .home{
  width: 46%;
  left: 0;
  text-align: right;
}

.date, .dateBtn{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.dateBtn{
  font-size: calc(10px + 2vmin);
  background-color: #2d3038;
  color: white;
}

button:disabled {
  background-color: #5f6269;
  color: rgb(197, 196, 200);
}

h1{
  font-size: calc(13px + 2vmin);
}